<section class="min-h-screen w-screen transition-all ease-in-out duration-1000">
    <header class="w-full h-screen bg-image ">
        <div class="h-full w-full px-12 bg-black/75 text-8xl max-md:text-6xl max-sm:text-4xl text-center  font-black flex flex-col justify-center items-center gap-2">
            <span class="">À propos de nous</span>
        </div>
    </header>
    <main class="px-12 py-24 text-2xl max-md:text-lg max-sm:text-sm text-justify">
        <h1 class="text-blak text-left text-4xl max-md:text-2xl max-sm:text-xl mb-6"><span class="text-green-600 italic font-semibold">À propos</span> du Cabinet Medical Le Printemps</h1>

        <p class="mb-12">
            Depuis plusieurs années deja, le cabinet medical le printemps s'engage à offrir des soins de santé de premier plan à notre communauté locale. Notre mission est de favoriser le bien-être global de nos patients de la naissance jusqu'à l'âge d'or, d'offrir des soins de santé globaux, holistiques, personnalisés et novateurs à notre communauté et de placer le bien-être de nos patients au cœur de tout ce que nous faisons. Nous croyons que chaque personne mérite d'être traitée de manière unique, avec compassion et respect.
        </p>

        <h1 class="text-blak text-left text-4xl max-md:text-2xl max-sm:text-xl mb-6">Notre <span class="text-green-600 italic font-semibold">Approche Integrative</span></h1>

        <p class="mb-12">
            Au Cabinet Medical Le Printemps, nous combinons les meilleures pratiques de la médecine conventionnelle avec des approches complémentaires éprouvées, nous adoptons une vision holistique de la santé. Nous croyons que pour atteindre un état de bien-être optimal, il faut prendre en compte tous les aspects de la vie d'un individu : physique, mental, émotionnel et social. Notre équipe pluridisciplinaire travaille en étroite collaboration pour proposer des solutions sur mesure adaptées à chaque patient.
            <br>
            Nos professionnels de santé qualifiés sont passionnés par leur travail et s'engagent à offrir des soins empathiques et attentionnés. Ensemble, nous visons à améliorer la qualité de vie de nos patients à long terme.
        </p>

        <h1 class="text-blak text-left text-4xl max-md:text-2xl max-sm:text-xl mb-6">Notre <span class="text-green-600 italic font-semibold">Philosophie</span></h1>

        <p class="mb-12">
            Au Cabinet Medical Le Printemps, nous adoptons une approche holistique de la santé. Nous considérons le corps, l'esprit et l'âme comme un tout interconnecté, et nous nous efforçons de traiter non seulement les symptômes, mais aussi les causes profondes des problèmes de santé.
        </p>

        <h1 class="text-blak text-left text-4xl max-md:text-2xl max-sm:text-xl mb-6">Nos <span class="text-green-600 italic font-semibold">Services </span>Specialisés</h1>

        <p class="mb-3">
            Chez nous, nous offrons une gamme complète de services de santé, notamment :
        </p>
        <ul class="pl-12 text-left">
            <li class="list-disc">
                Consultations médicales
            </li>
            <li class="list-disc">
                Examens de diagnostic (radiologie, analyses de laboratoire)
            </li>
            <li class="list-disc">
                Physiothérapie et réadaptation
            </li>
            <li class="list-disc">
                Soins infirmiers
            </li>
            <li class="list-disc">
                Médecine préventive et éducation à la santé
            </li>
            <li class="list-disc">
                Médecine familiale
            </li>
            <li class="list-disc">
                Médecine fonctionnelle
            </li>
            <li class="list-disc">
                Naturopathie
            </li>
            <li class="list-disc">
                Massothérapie
            </li>
            <li class="list-disc">
                Nutrition et conseils en mode de vie sain
            </li>
        </ul>
        <p class="mb-12">
            <a [routerLink]="['/services']" class="group hover:text-blue-600 hover:underline">voir plus <span class="font-bold group-hover:hidden">....</span><span class="bi bi-arrow-right hidden group-hover:inline text-lg max-sm:text-xs"></span></a>
        </p>


        <h1 class="text-blak text-left text-4xl max-md:text-2xl max-sm:text-xl mb-6">Notre <span class="text-green-600 italic font-semibold">Engagement </span>Envers vous</h1>

        <p class="mb-3">
            Nous sommes fiers de notre approche centrée sur le patient. Nous nous engageons à :
        </p>
        <ul class="pl-12 text-left">
            <li class="list-disc">
                Vous écouter avec attention et à comprendre vos préoccupations
            </li>
            <li class="list-disc">
                Vous traiter avec empathie, respect et compassion
            </li>
            <li class="list-disc">
                Vous fournir des soins de la plus haute qualité
            </li>
            <li class="list-disc">
                Collaborer étroitement avec vous pour atteindre vos objectifs de santé
            </li>
            <li class="list-disc">
                Offrir des soins de santé accessibles et abordables
            </li>
            <li class="list-disc">
                Respecter la confidentialité et la dignité de nos patients
            </li>
            <li class="list-disc">
                Utiliser les technologies les plus avancées pour des diagnostics et des traitements efficaces
            </li>
            <li class="list-disc">
                Favoriser une communication ouverte et transparente avec nos patients
            </li>
            <li class="list-disc">
                Vous guider dans votre parcours de santé avec soin et bienveillance
            </li>
            <li class="list-disc">
                Vous impliquer activement dans la prise de décisions concernant vos soins
            </li>
        </ul>
        <p class="mb-12">
            En plus d'offrir des soins de qualité, nous sommes fiers de contribuer activement à notre communauté locale. Nous organisons régulièrement des événements de sensibilisation et des ateliers éducatifs sur différents sujets de santé. 
        </p>
        <p class="mt-6 mb-12 text-gray-400 text-center italic max-md:text-base max-sm:text-xs">
            Venez découvrir comment notre équipe peut prendre soin de votre santé.
            <br> 
            Contactez-nous dès aujourd'hui pour <a [routerLink]="['/contacts']"class="text-blue-600 underline">prendre rendez-vous</a> !, rejoignez notre communauté de patients épanouis et laissez-nous vous aider à atteindre un bien-être optimal.
        </p>
    </main>
</section>
