<section class="w-screen bg-blue-900 px-12 text-white">
    <footer class="py-4 pt-36 grid grid-cols-4 gap-10 relative top-0 left-0">
        <div class="grid grid-cols-1 col-span-2 max-md:col-span-4">
            <div class="w-full h-16 mb-2">
                <img src="assets/logo-texte.png" alt="Logo" class="h-full w-auto">
            </div>
            <p class="mb-4">Notre mission est de vous offrir des soins de santé de haute qualité dans un environnement accueillant.</p>
            <a href="#" class="text-xs text-gray-300 hover:text-white">
                <span class="bi bi-map-fill text-sm mr-1"></span> 
                 À 100 mètres de l'entrée principale de IUC Logbessou/Douala
            </a>
            <a href="#" class="text-xs text-gray-300 hover:text-white">
                <span class="bi bi-envelope-fill text-sm mr-1"></span> 
                support.cabinet&#64;leprintemps.com
            </a>
            <a href="#" class="text-xs text-gray-300 hover:text-white">
                <span class="bi bi-telephone-fill text-sm mr-1"></span> 
                +237 6 56 29 01 28
            </a>
        </div>
        <div class="col-span-1 max-md:col-span-2 max-sm:col-span-4 items-start">
            <p class="mb-4 font-semibold">NOS SERVICES</p>
            <a href="#" class="block text-sm text-gray-300 hover:text-white">
                Echographie
            </a>
            <a href="#" class="block text-sm text-gray-300 hover:text-white">
                Cardiologie
            </a>
            <a href="#" class="block text-sm text-gray-300 hover:text-white">
                Gynecologie
            </a>
            <a href="#" class="block text-sm text-gray-300 hover:text-white">
                Ophtalmologie
            </a>
            <a href="#" class="block text-sm text-gray-300 hover:text-white">
                Urologie
            </a>
            <a href="#" class="group text-sm text-gray-300 hover:text-white">
                Voir plus 
                <span class="bi bi-arrow-right text-sm ml-1 group-hover:ml-4 relative transition-all duration-300 ease-in-out"></span> 
            </a>
        </div>
        <div class="col-span-1 max-md:col-span-2 max-sm:col-span-4 items-start">
            <p class="mb-4 font-semibold">LIENS RAPIDES</p>
            <a [routerLink]="['/']" routerLinkActive="text-white font-bold" [routerLinkActiveOptions]="{exact: true}" class="block text-sm text-gray-300 hover:text-white">
                Home
            </a>
            <a [routerLink]="['/services']" routerLinkActive="text-white font-bold" class="block text-sm text-gray-300 hover:text-white">
                Services
            </a>
            <a [routerLink]="['/about']" routerLinkActive="text-white font-bold" class="block text-sm text-gray-300 hover:text-white">
                About
            </a>
            <a [routerLink]="['/contacts']" routerLinkActive="text-white font-bold" class="block text-sm text-gray-300 hover:text-white">
                Contacts
            </a>
            <div class="w-full flex flex-row flex-nowrap mt-3">
                <a href="#" class="px-3 py-2 border-2 border-green-600">login</a>
                <a href="#" class="px-3 py-2 border-2 border-green-600 bg-green-600">signin</a>
            </div>
        </div>

        <div class="absolute left-0 -top-24 w-full flex justify-center items-center text-center">
            <div class="w-3/5 max-w-max max-sm:w-11/12 border-2 border-blue-600 rounded-md p-5 bg-blue-900/75 backdrop-blur-sm">
                <p class="text-2xl max-md:text-lg mb-3">Restez informé de nos dernières actualités et offres exclusives </p>
                <p class="text-gray-300 text-sm">veillez entrer votre adresse E-mail pour vous abonner  notre bulletin d'information</p>
                <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()" class="w-full flex flex-row gap-3 mt-8">
                    <input formControlName = "newsletter" type="email" name="newsletter" id="newsletter" placeholder="Adresse E-mail" class="h-10 pl-5 max-md:pl-3 flex-grow flex-shrink bg-gray-400 text-white placeholder:text-white placeholder:text-xs text-sm rounded-sm hover:bg-gray-600 focus:outline-none focus:border-none focus:bg-gray-600">
                    <button type="submit" class="h-10 px-6 bg-blue-600 hover:bg-blue-700 text-sm rounded-sm">Souscrire</button>
                </form>
            </div>
        </div>

    </footer>
    <div class="py-4 border-t-2 border-white flex max-sm:flex-col-reverse justify-between max-sm:justify-center items-center max-sm:gap-3 text-xs capitalize">
        <p class="text-sm text-nowrap">copyright <span class="bi bi-c-circle"></span> 2024 | all right reserved | by <a href="#">&#64;Dev_Arno</a></p>
        <p class="flex flex-row gap-3 flex-nowrap text-sm">
            <a href="#" class="p-1 bg-teal-200/15 hover:bg-teal-200/50 rounded-3xl h-8 w-8 flex justify-center items-center"><span class="bi bi-facebook"></span></a>
            <a href="#" class="p-1 bg-teal-200/15 hover:bg-teal-200/50 rounded-3xl h-8 w-8 flex justify-center items-center"><span class="bi bi-twitter-x"></span></a>
            <a href="#" class="p-1 bg-teal-200/15 hover:bg-teal-200/50 rounded-3xl h-8 w-8 flex justify-center items-center"><span class="bi bi-instagram"></span></a>
            <a href="#" class="p-1 bg-teal-200/15 hover:bg-teal-200/50 rounded-3xl h-8 w-8 flex justify-center items-center"><span class="bi bi-whatsapp"></span></a>
        </p>
    </div>
</section>

<div
  *ngFor="let errorMessage of errorMessages; let i = index"
  class="fixed top-14 left-0 w-full transform -translate-x-0  border-l-8 backdrop-blur-md  px-4 py-3 shadow-lg transition-all duration-500 z-10" [class]="!errorMessages[i].error ? 'bg-green-600/20 border-green-600 text-green-600' : 'bg-red-600/20 border-red-600 text-red-600'"
  [class.translate-y-[-0.8rem]]="errorMessages[i].showMessage"
  [class.translate-y-[-8rem]]="!errorMessages[i].showMessage"
>
  <div class="flex items-center justify-between">
    <span>{{ errorMessage.message }}</span>
    <button
      class="text-white hover:text-gray-300 focus:outline-none"
      (click)="dismissErrorMessage(i)"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>