<app-navbar *ngIf="!isDashboard"/>
<section class="min-h-screen">
    <router-outlet/>
</section>
<!-- <p class="bg-blue-600 pb-24">hello world</p> -->
<!-- <div class="px-4 py-2 text-white bg-blue-600 rounded">
    Texte avec fond bleu blue-600 // couleur du bleu phare de mon projet
</div>
<div class="px-4 py-2 text-white bg-green-600 rounded">
    Texte avec fond vert green-600 // couleur du vert phare de mon projet
</div>
<div class="px-4 py-2 text-white bg-blue-900 rounded">
    Texte avec fond bleu foncé blue-900 // midnightBlue bleu foncée
</div>
<div class="px-4 py-2 bg-gray-400 rounded">
    Texte avec fond gris clair gray-400 // gris des inputs
</div>
<div class="px-4 py-2 text-white bg-gray-500 rounded">
    Texte avec fond gris gray-400 gray-600 // secondary text: texte de la section contact
</div>
<div class="px-4 py-2 bg-gray-300 rounded">
    Texte avec fond gris clair gray-300 // swissCoffee gris de la newsletter
</div>
<div class="px-4 py-2 text-white bg-gray-600 rounded">
    Texte avec fond gris foncé gray-600 // secondary text: texte de la section contact
</div>
<div class="px-4 py-2 bg-teal-200 rounded">
    Texte avec fond bleu-vert clair teal-200 // light primary
</div>
<div class="px-4 py-2 text-gray-800 bg-white rounded">
    Texte avec fond blanc white // blanc
</div>
<div class="px-4 py-2 text-white bg-black rounded">
    Texte avec fond noir black // noir
</div> -->
<!-- 
    blue-600 // couleur du bleu phare de mon projet
    blue-900 // midnightBlue bleu foncée
    green-600 // couleur du vert phare de mon projet
    gray-600 // secondary text: texte de la section contact
    gray-400 // gris des inputs
    gray-500 // gris des bordures de inputs
    gray-300 // swissCoffee gris de la newsletter
    teal-200 // light primary
    white // blanc
    black // noir
-->

<!-- <div class="container grid grid-cols-3 grid-rows-2 gap-4 w-[200px] h-[300px]">
    <div class="col-span-1 row-span-1">Div 1</div>
    <div class="col-span-1 row-span-1">Div 2</div>
    <div class="col-span-1 row-span-1">Div 3</div>
    <div class="col-span-2 row-span-1 w-[calc(100%-25%)]">Div 4</div>
    <div class="col-span-1 row-span-1 w-[25%]">Div 5</div>
</div> -->

<app-footer *ngIf="!isDashboard"/>