<app-navbar/>
<router-outlet/>
<!-- <p class="bg-blue-600">hello world</p> -->
<div class="bg-blue-600 text-white px-4 py-2 rounded">
    Texte avec fond bleu
</div>
<div class="bg-green-600 text-white px-4 py-2 rounded">
    Texte avec fond vert
</div>
<div class="bg-blue-900 text-white px-4 py-2 rounded">
    Texte avec fond bleu foncé
</div>
<div class="bg-gray-400 px-4 py-2 rounded">
    Texte avec fond gris clair
</div>
<div class="bg-gray-500 text-white px-4 py-2 rounded">
    Texte avec fond gris
</div>
<div class="bg-gray-300 px-4 py-2 rounded">
    Texte avec fond gris clair
</div>
<div class="bg-gray-600 text-white px-4 py-2 rounded">
    Texte avec fond gris foncé
</div>
<div class="bg-teal-200 px-4 py-2 rounded">
    Texte avec fond bleu-vert clair
</div>
<div class="bg-white text-gray-800 px-4 py-2 rounded">
    Texte avec fond blanc
</div>
<div class="bg-black text-white px-4 py-2 rounded">
    Texte avec fond noir
</div>
<!-- 
    blue-600 // couleur du bleu phare de mon projet
    blue-900 // midnightBlue bleu foncée
    green-600 // couleur du vert phare de mon projet
    gray-600 // secondary text: texte de la section contact
    gray-400 // gris des inputs
    gray-500 // gris des bordures de inputs
    gray-300 // swissCoffee gris de la newsletter
    teal-200 // light primary
    white // blanc
    black // noir
-->

<!-- <div class="container grid grid-cols-3 grid-rows-2 gap-4 w-[200px] h-[300px]">
    <div class="col-span-1 row-span-1">Div 1</div>
    <div class="col-span-1 row-span-1">Div 2</div>
    <div class="col-span-1 row-span-1">Div 3</div>
    <div class="col-span-2 row-span-1 w-[calc(100%-25%)]">Div 4</div>
    <div class="col-span-1 row-span-1 w-[25%]">Div 5</div>
</div> -->

<app-footer/>