.bg-paille{
    background-image: url('/public/assets/umar-farooq-BKDUx10IVjQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}